:root {
    --primary-color: #6aa58b;
    --secondary-color: #89c2d9;
    --accent-color: #ff6f91;
    --background-color: #fafafa;
    --surface-color: #ffffff;
    --text-color: #1a1a1a;
    --muted-text-color: #6b7280;
}


body {
    font-family: "Poppins", sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background: var(--background-color);
    margin: 0;
    padding-top: 56px;
    padding-bottom: 64px;
    font-size: 16px;
}

h1 {
    font-size: 4rem;
    color: var(--primary-color);
    font-weight: 600;
}

h2 {
    font-size: 2.6rem;
    color: var(--primary-color);
    font-weight: 600;
}

h3 {
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: var(--primary-color);
    font-weight: 600;
}

h4 {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

h5 {
    font-size: 1rem;
    font-weight: 600;
}

p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
p {
    line-height: 1.5;
}
